<template>
    <section class="mb-5">
        <h3 class="section-title-small" style="margin-left: 10px;">Pet Projects</h3>
        <ul class="right-list">
            <li class="right-list-item" v-for="(pet, index) in petInfo" :key="index">
                <h3 class="pet_title">{{ pet.title }} </h3>
                <p class="pet_description" v-html="pet.description"/>
                <div class="anchor_wrap"><a style="margin-right:10px;" class="third after" target="_blank"
                                            v-if="pet.link" :href="pet.link">Demo</a>
                    <span class="square">
                    <a class="tenth before after" target="_blank" :href="pet.link_gitlab">Gitlab</a>
                </span>
                </div>
                <div class="divided_line"></div>
            </li>
        </ul>
    </section>
</template>


<script>
export default {
    props: {
        petInfo: {
            type: Object
        },
    },
}
</script>

<style lang="scss">
.anchor_wrap {
  padding-left: 16px;

  a, a:visited, a:hover, a:active {
    backface-visibility: hidden;
    position: relative;
    transition: 0.5s color ease;
    text-decoration: none;
    color: #171321;
    font-size: 2.5em;


  }

  a:hover {
    color: #7759c2;
    cursor: pointer;
  }

  a.before:before, a.after:after {
    content: "";
    transition: 0.5s all ease;
    backface-visibility: hidden;
    position: absolute;
  }

  a.before:before {
    top: -0.25em;
  }

  a.after:after {
    bottom: -0.25em;
  }

  a.before:before, a.after:after {
    height: 5px;
    height: 0.35rem;
    width: 0;
    background: #d64028;
  }

  a.first:after {
    left: 0;
  }

  a.second:after {
    right: 0;
  }

  a.third:after, a.sixth:before, a.sixth:after {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  a.fourth:before, a.fourth:after {
    left: 0;
  }

  a.fifth:before, a.fifth:after {
    right: 0;
  }

  a.seventh:before {
    right: 0;
  }

  a.seventh:after {
    left: 0;
  }

  a.eigth:before {
    left: 0;
  }

  a.eigth:after {
    right: 0;
  }

  a.before:hover:before, a.after:hover:after {
    width: 100%;
  }

  .square {
    box-sizing: border-box;
    margin-left: -0.4em;
    position: relative;
    font-size: 2.5em;
    overflow: hidden;
    margin-left: 1em;
    //display: block;
  }

  .square a {
    position: static;
    font-size: 100%;
    padding: 0.2em 0.4em;
  }

  .square:before, .square:after {
    content: "";
    box-sizing: border-box;
    transition: 0.25s all ease;
    backface-visibility: hidden;
    position: absolute;
    width: 5px;
    width: 0.35rem;
    height: 0;
    background: #ed6b2a;
  }

  .square:before {
    left: 0;
    bottom: -0.2em;
  }

  .square.individual:before {
    transition-delay: 0.6s;
  }

  .square:after {
    right: 0;
    top: -0.2em;
  }

  .square.individual:after {
    transition-delay: 0.2s;
  }

  .square a:before {
    left: 0;
    transition: 0.25s all ease;
  }

  .square a:after {
    right: 0;
    transition: 0.25s all ease;
  }

  .square.individual a:after {
    transition: 0.25s all ease 0.4s;
  }

  .square:hover:before, .square:hover:after {
    height: calc(100% + 0.4em);
  }

  .square:hover a:before, .square:hover a:after {
    width: 100%;
  }
}


.pet_title {
  margin-bottom: 0;
  font-size: 38px;
  font-weight: 700;
}

.pet_description {
  color: #7A7D80 !important;
  font-style: italic;
  font-size: 20px;
  width: 80%;
  margin: 10px 0;
}

.divided_line {
  height: 2px;
  width: 100%;
  background-color: #ddd;
  margin-top: 10px;

}
</style>
