<template>
    <div class="aselect" :data-value="value" :data-list="list">
        <div class="selector" @click="toggle">
            <div class="label">
                <span>{{ value }}</span>
            </div>
            <div class="arrow" :class="{ expanded : visible }"></div>
            <div :class="{ hidden : !visible, visible }">
                <ul>
                    <li :class="{ current : item === value }" v-for="item in list" @click="select(item)">{{ item }}</li>
                </ul>
            </div>
        </div>
    </div>

</template>


<script lang="ts">
import {ref} from 'vue'

export default {
    setup() {
        const value = ref('select a  lang')
        const list = ref(['ru', 'en'])
        const visible = ref(false)

        function toggle() {
            visible.value = !visible.value;
        }

        return {
            value, list, visible, toggle
        }
    },
    methods: {
        select(option: string) {
          //@ts-ignore
            this.$root.$i18n.locale = option;
        }
    }
}
</script>


<style lang="scss">
.aselect {
  width: 140px;
  margin: 20px auto;
  margin-right: 1rem;
  &:hover{
    cursor: pointer;
  }
 


  .selector {
    border: 1px solid gainsboro;
    position: relative;
    z-index: 1;
    border-radius: 0.5rem;
    
    height: 50px;

   

    .arrow {
      position: absolute;
      right: 10px;
      top: 45%;
      width: 0;
      height: 0;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-top: 10px solid #888;
      transform: rotateZ(0deg) translateY(0px);
      transition-duration: 0.3s;
      transition-timing-function: cubic-bezier(.59, 1.39, .37, 1.01);
    }

    .expanded {
      transform: rotateZ(180deg) translateY(2px);
    }

    .label {
      display: block;
      padding: 12px;
      font-size: 16px;
      color: #888;
     
    }
  }

  ul {
    width: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 16px;
    border: 1px solid gainsboro;
    position: absolute;
    z-index: 1;
    background: #fff;
  }

  li {
    padding: 6px;
    color: #666;

    &:hover {
      color: white;
      cursor: pointer;
      background: seagreen;
    }
  }

  .current {
    background: #eaeaea;
  }

  .hidden {
    visibility: hidden;
  }

  .visible {
    visibility: visible;
  }
}

</style>