<template>
  <section class="mb-5">
    <h3 class="section-title">{{ $t('Summary') }}</h3>
    <span>{{ $t(`${summaryInfo}`) }}</span>
  </section>
</template>

<script>
export default {
  props: {
    summaryInfo: {
      type: String
    }
  }
}
</script>

<style>

</style>
